ws-lab/src/main/resources/wsdl/idminterface.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ChangeUserPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeUserPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangeUserPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepartments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConditionJson" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepartmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDepartmentsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConditionJson" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMembersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCourtMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConditionJson" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCourtMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCourtMembersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="test">
        <s:complexType />
      </s:element>
      <s:element name="testResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="testResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ChangeUserPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeUserPassword" />
  </wsdl:message>
  <wsdl:message name="ChangeUserPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDepartments" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetMembersSoapIn">
    <wsdl:part name="parameters" element="tns:GetMembers" />
  </wsdl:message>
  <wsdl:message name="GetMembersSoapOut">
    <wsdl:part name="parameters" element="tns:GetMembersResponse" />
  </wsdl:message>
  <wsdl:message name="GetCourtMembersSoapIn">
    <wsdl:part name="parameters" element="tns:GetCourtMembers" />
  </wsdl:message>
  <wsdl:message name="GetCourtMembersSoapOut">
    <wsdl:part name="parameters" element="tns:GetCourtMembersResponse" />
  </wsdl:message>
  <wsdl:message name="testSoapIn">
    <wsdl:part name="parameters" element="tns:test" />
  </wsdl:message>
  <wsdl:message name="testSoapOut">
    <wsdl:part name="parameters" element="tns:testResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeUserPasswordHttpGetIn">
    <wsdl:part name="jsonString" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangeUserPasswordHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentsHttpGetIn">
    <wsdl:part name="ConditionJson" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetMembersHttpGetIn">
    <wsdl:part name="ConditionJson" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMembersHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCourtMembersHttpGetIn">
    <wsdl:part name="ConditionJson" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCourtMembersHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="testHttpGetIn" />
  <wsdl:message name="testHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ChangeUserPasswordHttpPostIn">
    <wsdl:part name="jsonString" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangeUserPasswordHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentsHttpPostIn">
    <wsdl:part name="ConditionJson" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetMembersHttpPostIn">
    <wsdl:part name="ConditionJson" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMembersHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCourtMembersHttpPostIn">
    <wsdl:part name="ConditionJson" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCourtMembersHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="testHttpPostIn" />
  <wsdl:message name="testHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="IDMInterfaceSoap">
    <wsdl:operation name="ChangeUserPassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改用户密码（1：成功；0：失败）</wsdl:documentation>
      <wsdl:input message="tns:ChangeUserPasswordSoapIn" />
      <wsdl:output message="tns:ChangeUserPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取部门信息</wsdl:documentation>
      <wsdl:input message="tns:GetDepartmentsSoapIn" />
      <wsdl:output message="tns:GetDepartmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMembers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取所有用户信息数据</wsdl:documentation>
      <wsdl:input message="tns:GetMembersSoapIn" />
      <wsdl:output message="tns:GetMembersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCourtMembers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取法院用户信息数据</wsdl:documentation>
      <wsdl:input message="tns:GetCourtMembersSoapIn" />
      <wsdl:output message="tns:GetCourtMembersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">test</wsdl:documentation>
      <wsdl:input message="tns:testSoapIn" />
      <wsdl:output message="tns:testSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IDMInterfaceHttpGet">
    <wsdl:operation name="ChangeUserPassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改用户密码（1：成功；0：失败）</wsdl:documentation>
      <wsdl:input message="tns:ChangeUserPasswordHttpGetIn" />
      <wsdl:output message="tns:ChangeUserPasswordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取部门信息</wsdl:documentation>
      <wsdl:input message="tns:GetDepartmentsHttpGetIn" />
      <wsdl:output message="tns:GetDepartmentsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMembers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取所有用户信息数据</wsdl:documentation>
      <wsdl:input message="tns:GetMembersHttpGetIn" />
      <wsdl:output message="tns:GetMembersHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCourtMembers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取法院用户信息数据</wsdl:documentation>
      <wsdl:input message="tns:GetCourtMembersHttpGetIn" />
      <wsdl:output message="tns:GetCourtMembersHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">test</wsdl:documentation>
      <wsdl:input message="tns:testHttpGetIn" />
      <wsdl:output message="tns:testHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IDMInterfaceHttpPost">
    <wsdl:operation name="ChangeUserPassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改用户密码（1：成功；0：失败）</wsdl:documentation>
      <wsdl:input message="tns:ChangeUserPasswordHttpPostIn" />
      <wsdl:output message="tns:ChangeUserPasswordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取部门信息</wsdl:documentation>
      <wsdl:input message="tns:GetDepartmentsHttpPostIn" />
      <wsdl:output message="tns:GetDepartmentsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMembers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取所有用户信息数据</wsdl:documentation>
      <wsdl:input message="tns:GetMembersHttpPostIn" />
      <wsdl:output message="tns:GetMembersHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCourtMembers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取法院用户信息数据</wsdl:documentation>
      <wsdl:input message="tns:GetCourtMembersHttpPostIn" />
      <wsdl:output message="tns:GetCourtMembersHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">test</wsdl:documentation>
      <wsdl:input message="tns:testHttpPostIn" />
      <wsdl:output message="tns:testHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IDMInterfaceSoap" type="tns:IDMInterfaceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeUserPassword">
      <soap:operation soapAction="http://tempuri.org/ChangeUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <soap:operation soapAction="http://tempuri.org/GetDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembers">
      <soap:operation soapAction="http://tempuri.org/GetMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourtMembers">
      <soap:operation soapAction="http://tempuri.org/GetCourtMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test">
      <soap:operation soapAction="http://tempuri.org/test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IDMInterfaceSoap12" type="tns:IDMInterfaceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeUserPassword">
      <soap12:operation soapAction="http://tempuri.org/ChangeUserPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <soap12:operation soapAction="http://tempuri.org/GetDepartments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembers">
      <soap12:operation soapAction="http://tempuri.org/GetMembers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourtMembers">
      <soap12:operation soapAction="http://tempuri.org/GetCourtMembers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test">
      <soap12:operation soapAction="http://tempuri.org/test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IDMInterfaceHttpGet" type="tns:IDMInterfaceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ChangeUserPassword">
      <http:operation location="/ChangeUserPassword" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <http:operation location="/GetDepartments" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembers">
      <http:operation location="/GetMembers" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourtMembers">
      <http:operation location="/GetCourtMembers" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test">
      <http:operation location="/test" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IDMInterfaceHttpPost" type="tns:IDMInterfaceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ChangeUserPassword">
      <http:operation location="/ChangeUserPassword" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <http:operation location="/GetDepartments" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembers">
      <http:operation location="/GetMembers" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourtMembers">
      <http:operation location="/GetCourtMembers" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test">
      <http:operation location="/test" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IDMInterface">
    <wsdl:port name="IDMInterfaceSoap" binding="tns:IDMInterfaceSoap">
      <soap:address location="http://uuvws.gd.pcc/idminterface.asmx" />
    </wsdl:port>
    <wsdl:port name="IDMInterfaceSoap12" binding="tns:IDMInterfaceSoap12">
      <soap12:address location="http://uuvws.gd.pcc/idminterface.asmx" />
    </wsdl:port>
    <wsdl:port name="IDMInterfaceHttpGet" binding="tns:IDMInterfaceHttpGet">
      <http:address location="http://uuvws.gd.pcc/idminterface.asmx" />
    </wsdl:port>
    <wsdl:port name="IDMInterfaceHttpPost" binding="tns:IDMInterfaceHttpPost">
      <http:address location="http://uuvws.gd.pcc/idminterface.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>